 body{
    background: linear-gradient(45deg,rgb(0, 0, 0),rgb(0, 0, 0) ,black,rgb(255, 145, 0));
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}
    body::-webkit-scrollbar{
      width: 0px;
    }
    .container{
      display: inline-block;
      text-align: center;
      justify-content: center;
      
    }
    .text{
      margin-bottom: 2px;
      margin-top: 0px;
      color: rgb(235, 159, 45);
      font-size: 20px;
      letter-spacing: 1px;
      font-family: monospace;
      border-right: 5px solid;
      /* border-radius: 9999px; */
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      animation-timeline: view();
      animation: 
                /* typing 3s , */
                 typing 4s steps(18),
                 cursor .4s step-end infinite alternate;
    }

    .text2{
      animation: appear 2s;
      color:white; 
      font-family: Arial, Helvetica, sans-serif; 
      margin-top: 0px; 
      font-size: 30px; 
      font-weight:bold;
    }
    .hero{
      border: orange solid 2px;
      border-radius: 10px;
      padding: 20px;
      border-left-style: dashed;
      border-top-style: dashed;
      justify-content: center;
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      animation: appear 2s;
    }
    .pic{
      border-style: solid;
      border-color:orange;
      border-radius: 999px;
      height: 300px;
      width: 300px;
      box-shadow: white 0px 0px 10px inset;
      justify-content: center;
      align-items: center;
      display: flex;
      /* overflow: hidden; */
      justify-self: right;
    }
    .me{
      height: 280px;
      width: 280px;
      border-radius: 999px;
      background-image: url(me.png);
    }
    .do{
      height: 280px;
      width: 400px;
      /* border: solid white 1px; */
      border-radius: 10px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      /* flex-direction: row; */
      font-family: Arial, Helvetica, sans-serif;
      flex-wrap: wrap;
    }
    .do1, .do2, .do3{
      /* flex-direction: row; */
      justify-content: center;
      align-items: center;
      margin: auto;
      text-align: center;
    }
    .do1Image,.do2Image,.do3Image{
      margin-top: 5px;
      background-color: orange;
      width:50px;
      padding: 5px;
      border-radius: 9px;
      animation: moves infinite .7s ease-in-out;
    }   
    /* .do1Image{
      margin-top: 25px;
    } */
    .do1text,.do2text,.do3text{
      margin-top: 0px;
      font-weight: bold;
      color:white;
    }   
    .toolsHeading{
      margin-bottom: 2px;
      margin-top: 0px;
      color: orange;
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 1px;
      font-family: monospace;
      border-right: 5px solid;
      /* border-radius: 9999px; */
      width: 17%;
      white-space: nowrap;
      overflow: hidden;
      animation-timeline: view();
      animation: 
                /* typing 3s , */
                 typing 4s steps(8),
                 cursor .4s step-end infinite alternate;
                 
    }


  .carousel{
      animation:appear2 linear;
      animation-timeline: view();
      animation-range: entry 0 cover 15%;
      z-index: 0;
    }


    .carousel {
  overflow: hidden;
  width: 98%;
  position: relative;
  border: orange solid 2px;
  padding: 10px;
  /* border-radius: 10px; */
  box-shadow: black 0px 0px 30px inset;
  border-left-color: black;
  border-right-color: black;
}
.carousel-track {
  display: flex;
  animation: scroll 25s linear infinite;
}
.carousel-track.paused {
  animation-play-state: paused;
}
.carousel img {
  width: 100px;
  /* height: 220px; */
  margin: 0 10px;
  transition: transform 0.3s ease;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 10px orange;
}
.carousel img:hover {
  transform: scale(1.05);
}


.projectsHeading{
      margin-bottom: 2px;
      margin-top: 0px;
      color: orange;
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 1px;
      font-family: monospace;
      border-right: 5px solid;
      /* border-radius: 9999px; */
      width: 23%;
      white-space: nowrap;
      overflow: hidden;
      animation-timeline: view();
      animation: 
                /* typing 3s , */
                 typing 4s steps(8),
                 cursor .4s step-end infinite alternate;
    }
.projectShowcase{
  border-radius: 9px;
  border: solid orange 2px;
  margin: auto;
  text-align: center;
  /* display: flex; */
}
.projectShowcaseText{
  color: white;
  padding: 2px;
  /* display: block; */
  /* width: 100%; */
}
.projectContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectOne{
  border: dashed orange 1px;
  border-radius: 9px;
  margin: 5px;
  width: 100%;
  /* display: flex; */
}
.projectOneImage{
  width: 40px;
  border-radius: 999px;
  box-shadow: 0px 0px 7px orange;
}
.projectOneText{
  color: black;
  background-color: orange;
  padding: 5px;
  display: inline;
  border: solid;
  border-radius: 10px;
}
.aboutContainer{
  display: flex;
  margin: auto;
  /* justify-content: center; */
  text-align: center;
  justify-content: space-evenly;
}
.projectNumber,.customerImpressions,.yearsOfExperience{
  display: inline;
  justify-content: center;
  text-align: center;
  border: orange 2px solid;
  border-radius: 10px;
  width: 30%;
}
.aboutTexts{
  color:white;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 12px;
}
.aboutTexts2{
  color:white;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;

}
/*animation keyframes*/
    @keyframes scroll {
      0% { transform: translateX(0); }
      100% { transform: translateX(-80%); }
    }

    @keyframes moves{
      from{
        /* transform: translateX(4px); */
        transform: translateY(0px);
      }
      to{
        /* transform: translateX(0px); */
        transform: translateY(2px);
      }
    }

    @keyframes cursor {
      50%{
        border-color: transparent;
      }
    }
    @keyframes typing{
      from{width: 0;}
    }

    @keyframes appear{
      from{
        opacity: 0;
        scale:0.5;
      }
      to{
        opacity: 1;
        scale: 1;
      }
    }
    @keyframes appear2{
      from{
        opacity:0;
        scale:0.5;
        /* transform: translateX(200px); */
      }
      to{
        opacity: 1;
        scale: 1;
        /* transform: translateX(0px); */
      }
      
    }